
*{
    margin: 0%;
    border: 0ch;
    box-sizing: border-box;
}
.head{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}
.head h1{
color: aqua;
background-color: blueviolet;
border-radius: 10px;
width: auto;
height: auto;
margin-top: 10px;

}
.maincnt{
    display: flex;
    justify-content: center;
   
}
.continer{
   
    margin: 5vh;
   width: 300px;
   height: 300px;
   display: flex;
   justify-content: center;
flex-wrap: wrap;
    background-color: rgb(150, 21, 133);
    border-radius: 15px;
    
}
.boxes{
    width: 80px;
    height:80px;
    color: rgb(91, 24, 199);
    margin: 9px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 4rem;
    background-color: rgb(188, 180, 214);
}
.winner{
    display: flex;
    justify-content: center;
    
    
}
.winner h1{
    color: rgb(81, 81, 199);
    margin-top: 3vh;
    
    
    
}
.new{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.new input{
    color:  white;
    background-color: rgb(13, 14, 14);
    border-radius:4px ;
    font-size: 20px;
    height: 40px;
}
.dr{
    display: flex;
    justify-content: center;
}
.reset{
    margin-top: 5vh;
}
.reset input{
    font-size: x-large;
    color: rgb(30, 1, 31);
    background-color: rgb(255, 33, 33);
    border-radius: 10px;
}
#dr {
display: flex;
justify-content: center;
margin-top: 4vh;
}